@tailwind base;
@tailwind components;
@tailwind utilities;


/* Result Css */
.pdfBox{
  width: 490px;

  height: 760px;
  border: 1px solid #000;
  padding: 10px;
  margin: 0 auto;
  
}

table {
  border: 2px solid forestgreen;
  /* width: 800px; */
  /* height: 200px; */
}

th {
  border-bottom: 2px solid black;
}

td {
  /* text-align: center; */
  border-bottom: 1px solid forestgreen;
}